body{
   background-color:rgb(216, 134, 27);
    margin-top:40px ;
    justify-content: center;
    color: white;

}
.container{
    display: flex;
   flex-direction: row;

}
.blue{
    height: 450px;
    width: 300px;
    padding: 20px;
    background-color: rgb(62, 62, 153);
    position: relative;
    margin-left: 20px ;
    border-radius: 20px;
    text-align: center;
}
.white{
    height: 450px;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    color: black;
    

}
.reaction{
    color:rgb(190, 5, 5) ;
    background-color: rgb(243, 185, 185);
    padding: 15px;
    border-radius: 10px;
    width: 250px;
   
   
}
.memory{
    color: rgb(147, 147, 7);
    background-color: rgb(228, 228, 127);
    padding: 15px;
    border-radius: 10px;
    width: 250px;
}
.verbal{
    color: rgb(4, 119, 119);
background-color: rgb(205, 250, 250);
padding: 15px;
border-radius: 10px;
width: 250px;

}
.visual{
    color: blue;
background-color: rgb(138, 138, 231);
padding: 15px;
border-radius: 10px;
width: 250px;

}
button{
    color: white;
    background-color: rgb(1, 1, 26);
    padding: 15px;
    width: 250px;
    border-radius:25px;

}
